aiogram==3.20.0.post0
aiohttp==3.11.14
curl_cffi==0.10.0
eth_account==0.13.5
Flask==3.1.0
loguru==0.7.2
pandas==2.2.3
primp==0.15.0
pydantic==2.11.3
PyYAML==6.0.2
Requests==2.32.3
rich==14.0.0
SQLAlchemy==2.0.38
tabulate==0.9.0
tqdm==4.67.1
urllib3==2.4.0
web3==7.9.0
aiosqlite
openpyxl